*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(23, 23, 23);
    color: white;
    width: 100%;
    height: 100%;
}
.page-content{
    max-width: 100%;
    max-height: 100%;
}
.content{
    margin: 3vh 3vh 0 3vh;
}
#title{
    font-size: 3.5vh;
    text-shadow: 0 0 3px black;
    padding: 0.5vw;
    margin: 0.5vw;
}
#name{
    font-size: 2.5vh;
    text-shadow: 0 0 3px black;
    padding: 0.5vw;
    margin: 0.5vw;
    text-align: center;
}
.glassmorphism{
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4% );
    border-radius: 20px;
    padding: 0.5vw;
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 1vw;
    text-align: center;
    align-items: center;
}
.container-2{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 1vw;
    text-align: center;
    align-items: center;
}
.container-2 .glassmorphism{
    padding: 0.5vw;
}
.glassmorphism img.lang-img{
    max-width: 5vh;
    align-items: center;
    cursor: pointer;
}
.change-dimension{
    font-size: 2vh;
    text-shadow: 0 0 3px black;
    padding: 0.5vw;
    margin: 0.5vw;
    text-align: center;
    cursor: pointer;
}
.change-formula{
    font-size: 2vh;
    text-shadow: 0 0 3px black;
    padding: 0.5vw;
    margin: 0.5vw;
    text-align: center;
    cursor: pointer;
}
.formula{
    font-size: 1.5vh;
    text-shadow: 0 0 3px black;
    padding: 0.3vw;
    margin: 0.3vw;
    text-align: center;
}
.form{
    font-size: 2vh;
    text-shadow: 0 0 3px black;
    padding: 0.5vw;
    margin: 0.5vw;
    text-align: center;
}
img#shape-img{
    max-width: 35vh;
    align-items: center;
}
input[type = number]{
    height: 2vh;
    border-radius: 20px;
}
button.formula{
    border-radius: 20px;
}
.result{
    font-size: 5.8vh;
    text-shadow: 0 0 3px black;
    padding: 0.5vw;
    margin: 0.5vw;
    text-align: center;
}
.gap-1{
    font-size: 1vh;
    text-shadow: 0 0 3px black;
    padding: 0.18vw;
    margin: 0.18vw;
    text-align: center;
}
.gap-2{
    font-size: 1vh;
    text-shadow: 0 0 3px black;
    padding: 0.05vw;
    margin: 0.05vw;
    text-align: center;
}